{% extends 'base.html' %}
{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'style.css' %}">
{% endblock %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<h1 id="greetings"> Hi {{ user.username }}!</h1>

{% else %}
<div id="logout">
    <p>You are not logged in</p>
    <a href="{% url 'login' %}">Log In</a>
</div>
{% endif %}
{% endblock %}